body {
  background: black;
  color: white;
  padding: 0px;
  font-family:"ariel", sans-serif;
}

.topmenu{ 
  text-decoration: none;
  padding: 0px;
  margin: 0 auto;
  text-align: center;}
  
a {
  color:white;
  text-decoration: none;
  word-spacing: 0px;
  text-align: center;
  margin: 0 auto;
  padding:15px;
}
