* { 



body {
  background: white;
  color: black;
  padding: 0em;
  font-family:"ariel", sans-serif;
  overflow: scroll; 
  height: 100%;
  width: 100%
}

.topmenu{ 
  color: white;
  /**background-image: url(image2.jpeg);**/
  background-color: black;
  background-position: center;
  font-size: 30em;
  font-family: "Dancing Script";
  text-decoration: none;
  padding: 20em;
  margin: 0 auto;
  text-align: center;
 
   }
  
a {
  color:white;
  text-decoration: none;
  word-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  padding:15em;
  display: float;

}

a:hover{
  color: white;
}


.h1{ 
  font-family: "Dancing Script";
  color: white;
  padding: 300em;
  overflow: scroll;
  text-align: center;
  margin:  auto;
  background-image: url(image0.jpeg);
  background-position: center;
  }
  .h1 h1 {
    margin: 0 auto;
    overflow: visible;
    font-size: xx-large;
    font-weight: 900;
  }


.contact { 
  background-image: url(image1.jpeg);
  background-position: center;
  font-size: 40em;
  font-family: "dancing script";
  color: white;
  text-align: center; 
  margin:0 auto;
  padding: 150em;
}

.contact a {
  color: #ffffff;
  font-weight: 900;
}

.contact a:hover{ 
  color: orange;
}
